// Body
$body-bg: #FAFAFA;

// Typography
$font-family-title: 'Poppins', sans-serif;
$font-family-text: 'Montserrat', sans-serif;
$font-size: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #3985BD;
$green: #017E80;
$blue: #010280;
$soft_blue: #22BFF0;
